DEBUG=True
SECRET_KEY=change-me-in-production-use-a-long-random-string
ALLOWED_HOSTS=localhost,127.0.0.1

DATABASE_URL=postgres://distrib_user:distrib_pass@db:5432/distrib_db
REDIS_URL=redis://redis:6379/0

DJANGO_SETTINGS_MODULE=config.settings.development
